@font-face{
	font-family: 'SolaimanLipi';
	src: url('../fonts/SolaimanLipi.ttf');
}

body{
	font-family: SolaimanLipi;
}

.SliderImage{
	height: 400px!important;
	width: 100%;

}

.header,.footer{
	background-color: #683091;
	height: 40px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header a{
	color: white;
	text-decoration: none;
}

.navbar-custom{
	color: white;
    background-color: #7ED400!important;
}
.navbar-nav >  li > a{
	color: white;
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.panel-custom{
	border-color: #7ED400;
}

.panel-custom>.panel-heading{
	color: #fff;
	background-color: #7ED400;
	border-color: #7ED400;
}

.no-border{
	border: none;
}

ul >li{
	list-style: none;
	line-height: 30px;
}
ul > li > a{
	text-decoration: none;
	color: black;
}
.label-custom{
	background-color: #7ED400;
}

.btn-custom{
	color: #fff;
    background-color: #7ED400;
    border-color: #7ED400;
}
.fa-custom{
	color: #7ED400;
}

.audio{
	width: 100%;
	border-radius: none;
	/*background-color: black;*/
	margin: 0;
	padding: 0;
}

.principal-panel{
	min-height: 200px!important;
	background-image: url('../images/principal.png');
	background-size: cover;
}

.principal-panel:hover{
	transform: scale(1.2);
	transition: 1s;
}