*{
	margin: 0;
	padding: 0;
}
body{
	background-color: skyblue;
	padding-top: 50px;

}
.main-container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.header{
	height: 200px;
	width: inherit;
	background-image: url('sky.webp');
	background-size: cover;	
	/*padding-top:30px;*/
}

.header-text{
	margin-left: 300px;
	padding-top: 100px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

.menubar{
	height: 50px;
	width: inherit;
	position: fixed;
	top: 0;
	background-color: black;
	/*opacity: 1.5;*/
}

.content{
	height: 400px;
	width: inherit;
	/*background-color: purple;*/
}

.footer{
	height: 50px;
	width: inherit;
	background-color: black;
}

.content-left{
	height: inherit;
	width: 480px;
	/*background-color: black;*/
	float: left;
	padding-top: 50px;
}

.content-img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-left: 80px;
}

.content-right{
	height: inherit;
	width: 480px;
	/*background-color: red;*/
	float: left;
	text-align: justify;
	padding-top: 50px;
	font-family: sans-serif;
}

ul{
	height: inherit;
	padding-top: 15px;
}

li{
	list-style: none;
	display: inline;
	width: 100px;
	padding: 10px;
	/*margin-left: 80px;*/
	/*background-color: red;*/
}

/*li:hover{
	background-color: black;
	color: red;
}*/

a{
	color: black;
	text-decoration: none;
	/*width: 100px;*/
	/*margin-left: 100px;*/
	padding: 10px 30px 10px 30px;
	background-color: red;
	font-family: sans-serif;
}

a:hover{
	background-color: black;
	color: red;
	border-radius: 7px;
	transition: 1s;
	font-weight: bold;
}

.menubar-left{
	width: 300px;
	float: left;
}

.menubar-right{
	width: 660px;
	float: left;
}

.logo{
	width: 100px;
	float: left;
	/*display: hidden;*/
	/*margin-top: -4000px;*/
}



.logo-text{
	width: 200;
	float: left;
	color: white;
	font-family: sans-serif;
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: -60px;
	color: black;
}

.logo-img{
	width: 100px;
	border-radius: 50%;
	/*display: none;*/
	/*margin-top: -70px;*/
}

.ribbon{
	height: 30px;
	width: 300px;
	background-color: yellow;
	color: black;
	font-size: 1.5em;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 900px;
	transform: rotate(-45deg);
	animation: blink 1s;
	animation-iteration-count: infinite;
}

/*.ribbon:hover{
	background-color: black;
	color: yellow;
}*/

@keyframes blink{
	0%{
		color: black;
		background-color: yellow;
	}

	100%{
		color: yellow;
		background-color: black;
	}
}
