.navbar-blue{
	background-color: blue;
	color: white;
}
.navbar-pepe{
	background-color: green;
	color: white;
}
.navbar-sky{
	background-color: black;
	color: white;
}
a{
	color: white;
}

.navbar-secondary{
	margin-bottom: 0px;
	height: 30px;
	padding-top: 2px;
}

.navbar{
	min-height: 0px;
}

.secondary-nav{
	/*padding-top: 5px;*/
	/*margin-top: -5px;*/
}

.text-center{
	text-align: center;
}

.ytcontent{
	width: 100%;
	height: 400px;
}
.ytcontainer{
	padding: 0px;
}

.img-slider{
	height: 500px!important;
	width: 100%;
}
.audio{
	width: 100%;
}

.panel-zoom:hover{
	transform: scale(1.1);
	transition: 1s;
}

@font-face{
	font-family: 'SolaimanLipi';
	src: url('../fonts/SolaimanLipi_20-04-07.ttf');
}

@font-face{
	font-family: 'Mitra';
	src: url('../fonts/mitra.ttf');
}

body{
	font-family: 'SolaimanLipi';
	background-image: url('../images/body_bg.gif');
}
.panel-a{
	color: black;
}
.panel-a:hover{
	text-decoration: underline;
	transition: 1s;
}

.panel-list{
	list-style: none;
}

.container{
	background-color: white;
	/*padding: 0px 20px 0px 20px;*/
	box-shadow:black;
}