*{
	margin: 0;
	padding: 0;
}
body{
	background-color: skyblue;
}
.main-container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.header{
	height: 200px;
	width: inherit;
	background-image: url('sky.webp');
	background-size: cover;	
}

.header-text{
	margin-left: 300px;
	padding-top: 100px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

.menubar{
	height: 50px;
	width: inherit;
	background-color: blue;
}

.content{
	height: 400px;
	width: inherit;
	background-color: purple;
}

.footer{
	height: 50px;
	width: inherit;
	background-color: black;
}

.content-left{
	height: inherit;
	width: 480px;
	background-color: black;
	float: left;
}

.content-right{
	height: inherit;
	width: 480px;
	background-color: red;
	float: left;
}